Options +FollowSymlinks
RewriteEngine On
DirectoryIndex index.php
RewriteCond %{REQUEST_URI} !(/$|\.) 


RewriteRule ^docs/(.*) /docs.php$1
RewriteRule ^points/(.*) http://pointsofinterest.info [L,R=301]