Options +FollowSymlinks
RewriteEngine On
DirectoryIndex web/index.php
RewriteCond %{REQUEST_URI} !(/$|\.) 
RewriteRule (.*) %{REQUEST_URI}/ [R=301,L]

RewriteRule ^docs/(.*) web/docs.php$1
RewriteRule ^points/(.*) http://pointsofinterest.info [L,R=302]